.header {
    width: 100%;
    background-color: white;
    /* position: fixed; */
    top: 0;
    left: 0;
}



.header_container {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo>img {
    width: 70%;
    height: 100%;
    margin-left: 20px;
}

@media screen and (max-width: 768px){
    .header_logo {
        margin-left: 20px;
     }
}

@media screen and (max-width: 425px){
    .header_logo {
       margin-left: 10px;
    }

}