.teamCards{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eef5f4;
    
}

.divclass{
    margin-top: -90px;
    margin-bottom: 70px;
}

.cards2{
    display: flex;
    justify-content: space-between;
   
}

.cards3{
    display: flex;
    justify-content: space-between;
}

.cards4{
    display: flex;
    justify-content: space-between;
}

.card>img{
    width: 30px;
}

@media screen and (max-width: 768px){
    .cards2{
        padding: 5px;
       
    }
    
    .cards3{
        padding: 5px;
    }
    
    .cards4{
        padding: 5px;
    }

    .divclass{
        margin-top: -90px;
        margin-bottom: 40px;
        padding-right: 5px;
    }
}

@media screen and (max-width: 425px){
    .cards2{
        flex-direction: column;
       
    }
    
    .cards3{
        flex-direction: column;
    }
    
    .cards4{
        flex-direction: column;
    }
}